$text-color: #121212;
$wite-color: #ffffff;
$button-color: #e4c1ae;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$button-accent-color: #cdad9c;
$bckg-image-color: #b4c6d0;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
