%button {
  color: $wite-color;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 32px;
  background-color: $button-color;
  color: $wite-color;
  box-shadow: $shadow;
  transition: background-color 250ms $cubic-bezier;
  cursor: pointer;
}
